body {
  font-family: Montserrat, sans-serif;
}

nav {
  border-bottom: 1px solid #4888c8;
}

nav img {
  height:70px;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}

.row {
  margin: 0;
}

.footer p {
  margin-bottom: 0;
}

#home {
  padding-top: 30px;
  background-image: url('../images/backdrop-home.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 600px;
}

#welcome {
  margin: 50px 50px auto;
  padding: 30px;
  background-color: rgba(255,255,255,.7);
  color: #4888c8;
  border-radius: 3px;
}

#tagline {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 20px;
  width: 100%;
  background-color: rgba(255,255,255,.9);
}

#tagline h2{
}

#home-options>div {
  padding: 50px;
}

#home-sgt {
  background-color: lightsteelblue;
  color: ghostwhite
}

#home-sgb {
  background-color: steelblue;
  color: aliceblue;
}




#book-text-container
{
  padding-top: 80px;
  padding-bottom: 80px;
}

#book-text>h2
{
  margin-bottom: 30px;
}


#book-text>p
{
  color: #3868a8;
}

.card
{
  margin: 15px 0;
  bottom: 0;
  top:0;
  border: none;
  background-color: steelblue;
}

.card>div {
  
}

.card p.content {
  height: auto;
  text-align: center;
  width: 100%;
  padding: 20px 15px 5px;
  color: white;
}

.card>img
{
  top:0; 
  left:0; 
  right:0;
  width:100%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.no-underline:hover
{
  text-decoration:none!important;
  border-bottom:0!important;
}

.container2
{
  padding: 20px;
  margin: 0px 0px 0px 0px;
  width:100vw;
  background-color: steelblue;
}

.container2 h5 {
  margin: 40px auto;
}
.content2
{
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right,rgba(29, 236, 197, 0.4), rgba(2, 28, 76, 0.4)100%);
}

.container3
{
  background-color: #f5f5f5;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 1px solid #4888c8 ;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}


.container4
{
  padding: 20px;
  justify-content: center;
}

.card2
{
  background: linear-gradient(to right,rgba(29, 236, 197, 0.4), rgba(17, 63, 137, 0.4)100%);
  border: 1px solid #4888c8 ;
}

hr
{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #4888c8;
  margin: 1em 0;
  padding: 0; 
}

.container7
{
  text-align: center;
}

.back
{
  background: linear-gradient(rgba(29, 236, 197,.6), rgba(17, 63, 137,.6)), url("../images/backdrop_index.jpg");
  background-repeat:no-repeat;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-position:center center;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  color: ghostwhite;
}

.centertext
{
  justify-content: center;
  text-align: center;
}

.container8 p
{
  text-align: center;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
    justify-content: center;
    align-items: center;
}

.container8
{
  display: block;
  margin: 0px;
  background:#e8f6ff;
  padding-top: 20px;
}

.selectpicker
{
  width: 220px;
  height: 32px;
  border-radius: 5px;
  align-items: center;
}

.card3
{
  width: 70%;
  background:linear-gradient(rgba(29, 236, 197,.6), rgba(17, 63, 137,.6));
}

.cart
{
  display: block;
  background:#35d3ff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold; 
  margin: 0px;
}