*
{
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //margin: 10px;
}

.navbar {
    background-color: #1565C0;
}
.no-underline:hover
{
	text-decoration:none!important;
	border-bottom:0!important;
}

a.navbar-brand {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff !important;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0; }
  
.logo
{
	border-radius:3rem;
	border-color:#fff;
	width:120px;
	height:50px;
	background-color:#fff;
}

.logo:hover{
	background-color:#E3F2FD;
}
	
  
  li.nav-item .btn {
  margin-top: .2rem;
  margin-left: .4rem; }
li.nav-item .btn-white {
  color: #46484a; }

.logo2
{

  width:400px;
  height: 200px;
  //position: relative;
}

.bk
{
  //background-image: url(images/bk.jpg);
  //position: fixed;
  background-size: cover;
  border-image-repeat: no-repeat;
  color:#fff;
  background-color: #1565C0;
}

.table
{
  //width: 80%;
}

.gallery
{
  margin: 30px 30px 30px 30px;
  //float: left;
  border-radius: 5px;
  //box-shadow: 3px 3px;
}
.text
{
  //float: left;
  color: #1565C0;
}
.tag
{
  color:#1565C0;
  margin-top: 0px;
   position: absolute;
    line-height:1.5;
    top: 13em;
    left: 36.5em;
}

.carousel
{
  width: 1000px;
  height: 500px;
}

.content
{
  margin-left: 20em;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1565C0;
    }
}